.Chaos-scrollBar{
    position: relative;
    overflow: hidden;
    .Chaos-scrollBar-main{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: scroll;
        background: pink;
        .Chaos-scrollBar-Y{
            background: #333;
        }
    }
}